@font-face { 
  font-family: 'Roboto'; 
  src: url('../fonts/roboto.woff2') format('woff2'), 
       url('../fonts/roboto.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Roboto'; 
  src: url('../fonts/robotobold.woff2') format('woff2'), 
       url('../fonts/robotobold.woff') format('woff'); 
  font-weight: bold; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Roboto'; 
  src: url('../fonts/robotomedium.woff2') format('woff2'), 
       url('../fonts/robotomedium.woff') format('woff'); 
  font-weight: medium; 
  font-style: normal; 
}

body {
	width: 100%;
	background-color: #ffffff;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	padding: 0;
	color: #283136;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.main-header {
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
}

.main-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	
	padding-top: 40px; 
}

.logo {
	width: 160px;
	height: 65px;
	background-image: url("../img/nerds-logo.svg");
	background-repeat: no-repeat;
}

.logo:hover {
	background-image: url("../img/nerds-logo-hover.svg");
	background-repeat: no-repeat;
}

.logo:focus,
.logo:active {
	background-image: url("../img/nerds-logo-push.svg");
	background-repeat: no-repeat;
}



.main-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	padding-top: 20px;
}

.menu {
	width: 560px;
	justify-content: flex-start;
}

.basket {
	width: 160px;
	justify-content: center;
}

.nav-item {
	text-transform: uppercase;
	font-weight: medium;
	line-height: 30px;
	color: #000000;
	margin-right: 45px;
}

.nav-item:first-child {
	margin-left: 60px;
}

.nav-item:nth-child(3) {
    margin-left: 5px;
}

.nav-item a:hover {
	color: #f59ea0;
}

.nav-item a:focus,
.nav-item a:active {
	color: #a6a6a6;
}

.menu .active {
	color: #000000;
	border-bottom: 2px solid #f3b1b3;
	padding-bottom: 5px;
}

.main-nav a {
	color: #000000;
	text-decoration: none;
}

.basket .nav-item {
	margin-left: 90px;
	margin-top: -5px;
}

.basket a {
	position: relative;
	padding-left: 40px;
}

.basket a::before {
	content: "";
	position: absolute;
	top: 2px;
    left: 0px;
	width: 25px;
	height: 25px;
	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	opacity: 0.3;
}

.promo-slider {
	position: relative;
	width: 1160px;
	height: 430px;
	margin: 0 auto;
}

.slider-control {
	position: absolute;
	bottom: 93px;
	left: 50%;
	width: 160px;
	height: 20px;
	margin-left: -85px;
	text-align: center;
}

.slider-control label:first-child {
	margin-right: 3px;
	margin-left: 15px;
}

.slider-control label:last-child {
	margin-left: 5px;
}

.promo-slider input[type=radio] {
    display: none;
}

.slider-control label {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0 9px;
	vertical-align: top;
	background-color: #ffffff;
	border-radius: 50%;
	cursor: pointer;
	z-index: 1000;
}

.slider-control label::after {
	content: "";
	width: 4px;
	height: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
    background-color: #ffffff;
    margin-left: -4px;
    margin-top: -4px;
    border-radius: 50%;
}

#slide1:checked ~ .slider-control label[for="slide1"]::after {
	border: 2px solid #e3e3e3;
}

#slide2:checked ~ .slider-control label[for="slide2"]::after {
	border: 2px solid #e3e3e3;
}

#slide3:checked ~ .slider-control label[for="slide3"]::after {
	border: 2px solid #e3e3e3;
}

.slides {
	overflow: hidden;
}

.slide-img {
	width: 300%;
	display: flex;
}

.slide-img img {
	width: 698px;
	height: 410px;
}




#slide1:checked ~ .slides .slide-img {
	transform: translate(0px);
}

#slide2:checked ~ .slides .slide-img {
	transform: translate(-1160px);
}

#slide3:checked ~ .slides .slide-img {
	transform: translate(-2320px);
}

.slide {
	display: flex;
	width: 1160px;
	justify-content: space-between;
}

.promo-bold {
	font-weight: medium;
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	margin: 0;
}

.capt {
	width: 515px;
}

.prg {
	width: 420px;
}

.description {
	padding-top: 78px;
}

.picture {
	position: relative;
	left: -85px;
	padding-top: 20px;
}

.paragraph {
	padding-top: 10px;
	padding-bottom: 35px;
}

.page-promo {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 115px;
}

.button {
	font-weight: medium;
	line-height: 18px;
	color: #ffffff;
	background-color: #fb565a;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #fb565a;
	border-radius: 4px;
	padding: 14px 53px;
}

.button:hover {
	background-color: #e74246;
}

.button:focus,
.button:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px 0px 0 #ce585b;
    color: rgba(255, 255, 255, 0.3);
}

.caption {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
}

.services {
	border-bottom: 2px solid #eeeeee;
	padding-top: 231px;
	padding-bottom: 90px;
	background-image: url("../img/illustration-1.png"), url("../img/illustration-2.png"), url("../img/illustration-3.png");
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: 20px 80px, 420px 80px, 820px 80px;
}

.services ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.services li {
    width: 300px;
    padding: 0;
    margin: 0;
    padding-right: 80px;
    padding-left: 19px;
}

.services .caption {
	text-transform: uppercase;
    margin: 0;
    padding-top: 20px;
}

.serv {
	padding: 0;
	width: 250px;
	padding-bottom: 30px;
}

.services .button {
	padding: 15px 39px;
}

.btn-green {
	background-color: #00ca74;
	border: 1px solid #00ca74;
}

.btn-green:hover {
	background-color: #00bc6c;
}

.btn-green:focus,
.btn-green:active {
	background-color: #00aa62;
	box-shadow: inset 0 3px 0px 0 #33b17b;
    color: rgba(255, 255, 255, 0.3);
}

.btn-yellow {
	background-color: #efc84a;
	border: 1px solid #efc84a;
}

.btn-yellow:hover {
	background-color: #eab534;
}

.btn-yellow:focus,
.btn-yellow:active {
	background-color: #e5a722;
	box-shadow: inset 0 3px 0px 0 #dcae4c;
    color: rgba(255, 255, 255, 0.3);
}

.about-us {
	border-bottom: 2px solid #eeeeee;
	display: flex;
	padding-top: 30px;
	padding-bottom: 40px;
}

.promo-about {
	font-weight: medium;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
}

.abt {
	width: 662px;
}

.about-us ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.promo-us {
	width: 652px;
	padding-right: 147px;
	padding-left: 20px;
	padding-top: 45px;
}

.us-prg {
	padding-top: 35px;
	padding-bottom: 40px;
}

.title-ul {
	padding-bottom: 22px;
}

.promo-us li {
	padding-bottom: 25px;
	position: relative;
	padding-left: 35px;
}

.promo-us li:last-child {
	padding-bottom: 0px;
}

.promo-us li::before {
	content: "";
	width: 28px;
	height: 2px;
	background-color: #fb565a;
	position: absolute;
	top: 10px;
	left: 0;

}

.promo-us p {
	margin: 0;
}

.table-us {
	width: 358px;
	padding: 0;
	margin: 0;
	padding-top: 240px;
	background-image: url("../img/nerds-illustration.png");
	background-repeat: no-repeat;
	background-position: -2px 10px;
}

.title {
	text-transform: uppercase;
	color: #000000;
	font-weight: normal;
}

.table-us caption {
	font-size: 16px;
	line-height: 24px;
	padding-top: 15px;
}

.table:not(caption) {
    padding-top: 55px;
}

.percent {
	font-size: 45px;
	line-height: 10.06px;
	color: #000000;
}

.table td {
	padding-bottom: 35px;
}

.percent td:nth-child(2) {
	padding-left: 11px;
}

.percent td:last-child {
	padding-left: 19px;
}

.percent span {
	font-size: 25px;
	vertical-align: top;
}

.success {
	line-height: 18px;
	padding-bottom: 0;
}

.success-two {
	padding-left: 12px;
}

.success-three {
	padding-left: 20px;
}

.partners {
	border-bottom: 2px solid #eeeeee;
	display: flex;
}

.partners div {
	width: 300px;
	min-height: 180px;
	opacity: 0.2;
}

.partners div:hover {
	opacity: 1;
}

.partners div:focus,
.partners div:active {
	opacity: 0.1;
}

.html {
	background-image: url("../img/htmlacademy.png");
	background-repeat: no-repeat;
	background-position: 50px 60px;
	position: relative;
}

.html::after {
	content: "";
	width: 2px;
	height: 55px;
	background-color: #d2d2d2;
	position: absolute;
	top: 65px;
	right: 0;
}

.shop {
	background-image: url("../img/barbershop.png");
	background-repeat: no-repeat;
	background-position: 45px 45px;
	position: relative;
}

.shop::after {
	content: "";
	width: 2px;
	height: 55px;
	background-color: #d2d2d2;
	position: absolute;
	top: 65px;
	right: 0;
}

.pink {
	background-image: url("../img/pink.png");
	background-repeat: no-repeat;
	background-position: 58px 65px;
	position: relative;
}

.pink::after {
	content: "";
	width: 2px;
	height: 55px;
	background-color: #d2d2d2;
	position: absolute;
	top: 65px;
	right: 0;
}

.mishka {
	background-image: url("../img/mishka.png");
	background-repeat: no-repeat;
	background-position: 63px 50px;
	position: relative;
}

.mishka::after {
	content: "";
	width: 2px;
	height: 55px;
	background-color: #d2d2d2;
	position: absolute;
	top: 65px;
	left: -2px;
}

.main-footer .container {
	position: relative;
}

.map {
	padding-top: 80px;
	width: 100%;
	height: 415px;
	overflow: hidden;
}

.map iframe {
	width: 100%;
	border-width: 0;
}

.map img {
	width: 100%;
	height: 415px;
}

.contact {
	width: 220px;
	height: 244px;
	background-color: #ffffff;
	position: absolute;
	bottom: 55px;
	left: 18px;
	padding: 32px 50px;
}

.contact-title {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
	
}

.contact p {
	line-height: 18px;
	color: #666666;
}

.contact .adress {
	width: 205px;
	padding-top: 5px;
	padding-bottom: 2px;
}

.contact .phone {
	padding-bottom: 35px;
}

.btn-form {
	padding: 14px 43px

}

.social {
	display: flex;
	margin-top: 70px;
	margin-left: 20px;
}

.social ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	width: 265px;
	align-items: center;
	justify-content: space-between;
}

.social-list li {
	background-color: #e1e1e1;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	position: relative;
}

.social-list .item {
	display: inline-block;
	vertical-align: baseline;
	padding: 38px;
}

.social-list .ins {
	margin-right: 5px;
}

.social div {
	margin-left: 130px;
}

.social a {
	color: #ffffff;
	text-decoration: none;
}

.social-list .social-vk {
	background-color: #e1e1e1;
	border-radius: 50%;
	background-image: url("../img/vk-icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: absolute;
}

.social-list .social-fb {
	background-color: #e1e1e1;
	border-radius: 50%;
	background-image: url("../img/fb-icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: absolute;
}

.social-list .social-ins {
	background-color: #e1e1e1;
	border-radius: 50%;
	background-image: url("../img/insta-icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: absolute;
}

.social-vk:hover,
.social-fb:hover,
.social-ins:hover {
    background-color: #e74246;
}

.social-vk:focus,
.social-vk:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px 0px 0 #ce585b;
    color: rgba(255, 255, 255, 0.3);
}

.social-fb:focus,
.social-fb:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px 0px 0 #ce585b;
    color: rgba(255, 255, 255, 0.3);
}

.social-ins:focus,
.social-ins:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px 0px 0 #ce585b;
    color: rgba(255, 255, 255, 0.3);
}

.promo-social {
	font-size: 36px;
	line-height: 36px;
	color: #000000;
	margin: 0;
	padding: 0;
	padding-top: 5px;
	padding-left: 3px;
	padding-bottom: 10px;
}

.social-discount {
	margin: 0;
	padding: 0;
	line-height: 22px;
	padding-left: 3px;
}

.modal label {
	line-height: 18px;
	color: #000000;
}

.modal input::placeholder,
.modal textarea::placeholder {
	line-height: 18px;
	color: #444444;
}

.catalog-page .page-promo {
    padding-bottom: 107px;
}

.catalog-page .page-promo {
	padding-top: 77px;
	padding-right: 5px;
}

.catalog {

	display: flex;
}

.sorting {
	display: flex;
	text-transform: uppercase;
	padding-top: 60px;
	padding-bottom: 60px;
}

.sort {
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	width: 365px;
	padding-right: 40px;
}

.sorting ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.sorting li {
	font-size: 14px;
	line-height: 18px;
	color: #eeeeee;
	margin-right: 25px;
}

.sorting a {
	text-decoration: none;
    color: #eeeeee;
}

.sorting .active {
	color: #000000;
}



.arrow-down {
    background-image: url("../img/icon-down-dir-sand.svg");
	background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-left: 20px;
}

.arrow-up{
	background-image: url("../img/icon-up-dir-sand.svg");
	background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: 0;
    padding: 0;

}

.arrow-active {
	background-image: url("../img/icon-down-dir.svg");
	background-repeat: no-repeat;
}

.arrow-up:hover {
    background-image: url("../img/icon-up-dir-gray.svg");
	background-repeat: no-repeat;
}

.arrow-down:hover {
    background-image: url("../img/icon-down-dir-gray.svg");
	background-repeat: no-repeat;
}

.arrow-up:active,
.arrow-up:focus {
    background-image: url("../img/icon-up-dir.svg");
	background-repeat: no-repeat;
}

.arrow-down:active,
.arrow-down:focus {
    background-image: url("../img/icon-down-dir.svg");
	background-repeat: no-repeat;
}

.filtering {
	width: 280px;
}

.filter-range .cost {
	padding-top: 40px;
	padding-bottom: 55px;
}

.products {
	padding-left: 130px;
}

.cite {
	display: flex;
	flex-wrap: wrap;
}

.cite article{
    width: 365px;
    height: 620px;
    margin-bottom: 35px;
}

.sedona,
.barbershop,
.plus {
	padding-right: 40px; 
}



.card {
	background-image: url("../img/browser.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 360px 40px;
	position: relative;
}

.card:hover {
	background-image: url("../img/browser-2.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 360px 40px;
}

.card img
 {
	padding-top: 40px;
	width: 360px;

}

.card div {
	width: 360px;
	padding-right: 80px;
	padding-left: 80px;
	padding-top: 30px;
	padding-bottom: 40px;
	background-color: #eeeeee;
	position: absolute;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	display: none;
}

.card:hover div {
	display: block;
}

.page-nav ul {
    display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.page-nav a {
	text-decoration: none;
	text-transform: uppercase;
}

.visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
}

