@font-face { 
  font-family: 'Roboto'; 
  src: url('../fonts/roboto.woff2') format('woff2'), 
       url('../fonts/roboto.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Roboto'; 
  src: url('../fonts/robotobold.woff2') format('woff2'), 
       url('../fonts/robotobold.woff') format('woff'); 
  font-weight: bold; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Roboto'; 
  src: url('../fonts/robotomedium.woff2') format('woff2'), 
       url('../fonts/robotomedium.woff') format('woff'); 
  font-weight: medium; 
  font-style: normal; 
}

body {
	width: 100%;
	background-color: #ffffff;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	padding: 0;
	color: #283136;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.main-header {
    background-color: #eeeeee;
}

.main-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	padding-bottom: 19px;
	padding-top: 40px; 
}

.logo {
	width: 160px;
}

.main-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}

.menu {
	width: 560px;
	justify-content: space-between;
}

.basket {
	width: 160px;
}

.nav-item {
	text-transform: uppercase;
	font-weight: medium;
	line-height: 30px;
	color: #000000;
}

.main-nav a {
	color: #000000;
	text-decoration: none;
}

.promo-slider {
	position: relative;
	width: 1160px;
	height: 430px;
	margin: 0 auto;
}

.slider-control {
	position: absolute;
	bottom: 96px;
	left: 50%;
	width: 160px;
	height: 20px;
	margin-left: -80px;
	text-align: center;
}

.promo-slider input[type=radio] {
    display: none;
}

.slider-control label {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0 9px;
	vertical-align: top;
	background-color: #ffffff;
	border-radius: 50%;
	cursor: pointer;
	z-index: 1000;
}

.slider-control label::after {
	content: "";
	width: 4px;
	height: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
    background-color: #ffffff;
    margin-left: -4px;
    margin-top: -4px;
    border-radius: 50%;
}

#slide1:checked ~ .slider-control label[for="slide1"]::after {
	border: 2px solid #e3e3e3;
}

#slide2:checked ~ .slider-control label[for="slide2"]::after {
	border: 2px solid #e3e3e3;
}

#slide3:checked ~ .slider-control label[for="slide3"]::after {
	border: 2px solid #e3e3e3;
}

.slides {
	overflow: hidden;
}

.slide-img {
	width: 300%;
	display: flex;
}

.slide-img img {
	width: 759px;
	height: 430px;
}


#slide1:checked ~ .slides .slide-img {
	transform: translate(0);
}

#slide2:checked ~ .slides .slide-img {
	transform: translate(-1160px);
}

#slide3:checked ~ .slides .slide-img {
	transform: translate(-2320px);
}

.slide {
	display: flex;
	width: 1160px;
	justify-content: space-between;
}

.promo-bold {
	font-weight: medium;
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	margin: 0;
}

.button {
	font-weight: medium;
	line-height: 18px;
	color: #ffffff;
	background-color: #fb565a;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #fb565a;
	border-radius: 2px;
}

.caption {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
}

.services {
	border-bottom: 2px solid #eeeeee;
	padding-top: 252px;
	padding-bottom: 80px;
	background-image: url("../img/illustration-1.png"), url("../img/illustration-2.png"), url("../img/illustration-3.png");
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: 0px 80px, 400px 80px, 802px 80px;
}

.services ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.services li {
    width: 300px;
    padding-right: 100px;
}

.btn-green {
	background-color: #00ca74;
	border: 1px solid #00ca74;
}

.btn-yellow {
	background-color: #efc84a;
	border: 1px solid #efc84a;
}

.about-us {
	border-bottom: 2px solid #eeeeee;
	display: flex;
	padding-top: 80px;
	padding-bottom: 80px;
}

.promo-about {
	font-weight: medium;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
}

.about-us ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.promo-us {
	width: 652px;
	padding-right: 150px;
}

.table-us {
	width: 358px;
	padding-top: 220px;
	background-image: url("../img/nerds-illustration.png");
	background-repeat: no-repeat;
}

.title {
	text-transform: uppercase;
	color: #000000;
	font-weight: normal;
}

.percent {
	font-size: 45px;
	line-height: 10.06px;
	color: #000000;
}

.success {
	line-height: 18px;
}

.partners {
	border-bottom: 2px solid #eeeeee;
	display: flex;
}

.partners div {
	width: 300px;
	min-height: 180px;
}

.html {
	background-image: url("../img/htmlacademy.png");
	background-repeat: no-repeat;
	background-position: 30px 60px;
	position: relative;
}

.shop {
	background-image: url("../img/barbershop.png");
	background-repeat: no-repeat;
	background-position: 30px 60px;
}

.pink {
	background-image: url("../img/pink.png");
	background-repeat: no-repeat;
	background-position: 30px 60px;
}

.mishka {
	background-image: url("../img/mishka.png");
	background-repeat: no-repeat;
	background-position: 30px 60px;
}

.map {
	padding-top: 80px;
	width: 100%;
	height: 420px;
}

.map img {
	width: 100%;
	height: 420px;
}

.contact {
	width: 320px;
	height: 312px;
	background-color: #ffffff;
	position: relative;
	bottom: 390px;
	left: 0;
}

.contact-title {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.contact p {
	line-height: 18px;
	color: #666666;
}

.social {
	display: flex;
}

.social ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	width: 265px;
	align-items: center;
	justify-content: space-between;
}

.social li {
	background-color: #e1e1e1;
}

.social div {
	margin-left: 130px;
}

.social a {
	color: #ffffff;
	text-decoration: none;
}

.promo-social {
	font-size: 36px;
	line-height: 36px;
	color: #000000;
}

.social-discount {
	line-height: 22px;
}

.modal label {
	line-height: 18px;
	color: #000000;
}

.modal input::placeholder,
.modal textarea::placeholder {
	line-height: 18px;
	color: #444444;
}

.catalog {

	display: flex;
}

.sorting {
	display: flex;
	text-transform: uppercase;
}

.sorting ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;

}

.sorting a {
	text-decoration: none;
    
}

.filtering {
	width: 280px;
}

.products {
	padding-left: 130px;
}

.sedona,
.barbershop,
.plus {
	padding-right: 40px; 
}

.sedona,
.pink-app,
.barbershop,
.plus,
.kvast,
.miska {
	background-image: url("../img/browser.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	position: relative;
}

.sedona:hover,
.pink-app:hover,
.barbershop:hover,
.plus:hover,
.kvast:hover,
.miska:hover {
	background-image: url("../img/browser-2.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.sedona img,
.pink-app img,
.barbershop img,
.plus img,
.kvast img,
.miska img
 {
	padding-top: 40px;

}

.sedona div,
.pink-app div,
.barbershop div,
.plus div,
.kvast div,
.miska div {
	width: 365px;
	padding-right: 80px;
	padding-left: 80px;
	padding-top: 30px;
	padding-bottom: 40px;
	background-color: #eeeeee;
	position: absolute;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	display: none;
}

.sedona:hover div,
.pink-app:hover div,
.barbershop:hover div,
.plus:hover div,
.kvast:hover div,
.miska:hover div {
	display: block;
}

.cite {
	display: flex;
	flex-wrap: wrap;
}

.cite article{
    width: 365px;
    height: 620px;
    margin-bottom: 35px;
}

.page-nav ul {
    display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.page-nav a {
	text-decoration: none;
	text-transform: uppercase;
}

.visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
}

